.form-input { 
    all: unset;
    display: flex;
    align-items: center;
    font-size: $font-sm;
    font-style: normal;
    font-weight: $font-medium;
    line-height: 26px;
    padding: 0 24px;
    border-radius: 100px;
    border: 2px solid $grey;
    height: 50px;
    width: 100%;
    color: $color-heading;
    transition: all 0.3s ease-out;

    &::placeholder {
        color: $grey;
    }

    &:focus {
        border: 2px solid $color-heading;
    }
}