* {
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: $font-xsm;
    font-weight: $font-regular;
    color: $white;
}

a {
    text-decoration: none;
    color: $white;
}

.overflow-hidden {
    overflow: hidden;
}