// Colors
$white: #FFF;
$action-primary: #25DAC5;
$action-secondary: #482BE7; 
$action-third: #E93A7D;
$socials-twitter: #1DA1F2;
$socials-youtube: #EA3223;
$background-dark: #2F1893;
$color-heading: #1E0E62;
$grey: #EBEAED;

// Font Sizes
$font-xxsm: 14px;
$font-xsm: 16px;
$font-sm: 18px;
$font-md: 22px; 
$font-lg: 24px;
$font-xl: 30px;
$font-2xl: 42px;
$font-3xl: 58px;
$font-4xl: 72px;

// Font Weights: 
$font-regular: 400;
$font-medium: 500;
$font-strong: 700;

// Grid
$baseGutterWidth: 16;